/* WhatsappIcon.module.css */

.container {
    position: fixed;
    bottom: -25px; /* Adjust this value according to your layout */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 999; /* Ensure the container appears above other content */
  }
  
  .box {
    display: flex;
    align-items: center;
    background-color: #25d366;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .box span {
    font-size: 16px;
    text-decoration: none; 
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .container {
      bottom: 10px; /* Adjust this value for responsiveness */
      margin: 10px;
      width: 90%; /* Adjust container width for smaller screens */
      left: 50%;
      transform: translateX(-50%);
    }
  
    .box {
      padding: 8px 16px;
    }
  
    .icon {
      font-size: 20px;
    }
  
    .box span {
      font-size: 14px;
    }
  }
  