/* Contact.module.css */
.contactContainer {
    display: flex;
    justify-content: center;
}

.contactContent {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    color: white;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

/* Added styles for form */
form {
    display: flex;
    flex-direction: column;
}

.sendButton {
    width: 50%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    align-self: center;
}

.sendButton:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    .contactContent {
        padding: 10px;
    }

    .inputField {
        padding: 8px;
        margin-bottom: 8px;
    }

    .sendButton {
        width: 70%;
        padding: 8px;
    }
}
