@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* Set background image and some additional properties */
  background-image: url('./Assests//wallpaperflare.com_wallpaper\ \(2\).jpg');
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-attachment: fixed; /* Fix the background position */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}
